# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.github

/infrastructure
/frontend/build1.zip
/frontend/Dockerfile.frontend
/Builds

/backend
/backend/.*
/backend/__pycache__
/backend/__pycache__/.*
/backend/build

# /inference_backend
# /inference_backend/.*
/inference_backend/__pycache__
/inference_backend/*/__pycache__
/inference_backend/__pycache__/.*
/inference_backend/*/__pycache__/.*
/inference_backend/build

/nginx
/nginx/.*

/docker-compose.yml
/Dockerfile

venv
.venv
.env
